body { font-family: Arial; }
  form { border: 4px solid black; padding: 20px; width: 300px; margin: 0 auto; }
  input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid green;
    box-sizing: border-box;
  }
  button {
    background-color: blue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  button:hover {
    opacity: 0.8;
  }